# vscode
# .vscode
.continue

# npm
node_modules
package-lock.json

# Exclude sourcemaps
*.map

# Mac
.DS_Store

# Exclude .env file
.[Ee][Nn][Vv]

# SASS
.sass-cache/

# build output
# dist/
_dump/
dist/
src/test
tweaks.css
*backup/
!json