/* #region {Comment} */
 /* ~ Hide `%%` */
  .is-live-preview .cm-line:not(.cm-active) {
    .cm-comment-start,
    .cm-comment-end { display: none; }
  }
  .cm-active.cm-line {
    .cm-comment-start { padding-right: var(--footnote-padding-inline);  }
    .cm-comment-end { padding-left: var(--footnote-padding-inline); }
  }

 /* ~ Style comments text */
  .cm-comment:not(:is(.cm-formatting, .cm-hmd-codeblock)) {
    --link-decoration-hover: none;
    --link-external-decoration: none;
    --link-external-decoration-hover: none;

    border-top: var(--input-border-width) solid var(--divider-color);
    border-bottom: var(--input-border-width) solid var(--divider-color);
    font-style: italic;
    display: inline-block;
    color: var(--color-base-70);
  }

 /* ~ Round and draw first and last side vorders */
  .cm-line:has(.cm-comment-start) + .cm-line .cm-comment,
  .cm-comment-start + .cm-comment {
    border-left: 1px solid var(--divider-color);
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-left: var(--footnote-padding-inline);
  }
  .cm-line:has(+.cm-line .cm-comment-end) .cm-comment,
  .cm-comment:has(+.cm-comment-end) {
    border-right: var(--input-border-width) solid var(--divider-color);
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-right: var(--footnote-padding-inline);
  }

 /* ~ Comment text becomes smaller */
  .cm-comment {
    font-size: var(--font-smaller);
    opacity: 0.8;
  }

 /* ~ Real-time editing mode */
  .hr+.cm-line:has(.cm-comment) {
    text-align: center !important;
    padding-top: 0px !important;
    .cm-formatting {
      opacity: 0.0;
    }
    padding-bottom: 0.6em;
    border-bottom: 2px solid var(--hr-color);
    opacity: 1.0;
  }
  .hr+.cm-line.cm-active:has(.cm-comment) {
    .cm-formatting {
      opacity: 0.8;
    }
  }

 /* ~ Source code mode, only center text and add underline */
  .HyperMD-hr+.cm-comment {
    text-align: center !important;
    border-bottom: var(--input-border-width-focus) solid var(--hr-color);
  }
/* #endregion {Comment} */