@use 'sass:list';
@use '../utils.scss' as *;

/* #region {property} */

.metadata-container {
  margin-block-end: var(--size-4-2);
  transition: var(--animation);
  --metadata-property-background-hover: var(--background-primary-alt);
  --metadata-label-background-active: var(--background-primary);
  --metadata-input-background-active: var(--background-primary);
  --pill-radius: var(--size-4-1);
  --pill-focus-width: calc(100% + var(--size-4-2));

  .prop-outline & {
    transform: none;
    --metadata-padding: var(--radius-m);
    --metadata-background: var(--background-primary-alt);
    --metadata-border-width: 1px;
    --metadata-border-radius: var(--radius-m);
  }

  .prop-hide-preview & {
    --metadata-display-reading: none;
  }

  .metadata-add-button {
    padding: var(--size-4-1);
    margin-top: var(--size-4-2);
    gap: var(--size-2-3);
    transition: background-color var(--animation-fast);
  }

  $properties-icons: (
    tag:        ('.lucide-list', 'lucide-tags'),
    alias:      ('.lucide-list', 'lucide-corner-up-right'),
    cssclasses: ('.lucide-list', 'lucide-toggle-right'),
    markmap:    ('.svg-icon', 'lucide-git-fork'),
    title:      ('.svg-icon', 'lucide-heading'),
    author:     ('.svg-icon', 'lucide-user-round'),
    source:     ('.svg-icon', 'lucide-link'),
    published:  ('.svg-icon', 'lucide-calendar-days', '*=date')
  );
  
  @each $key, $map in $properties-icons {
    $sel: "[data-property-key=#{$key}]";
    @if list.length($map) > 2 {
      $sel: ':is([data-property-key=#{$key}], [data-property-key#{list.nth($map,3)}])';
    } 

    #{$sel} #{list.nth($map,1)} {
      -webkit-mask: var(--#{list.nth($map,2)}) no-repeat;
      @extend %icons;
    }
  }
  
  %icons {
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    & path { display: none; }
  }
}

.metadata-property-icon,
input.metadata-property-key-input,
.multi-select-pill,
.multi-select-input {
  line-height: calc(var(--line-height-normal) / 1.5);
  height: calc(var(--line-height-normal) / 1.5);
}

.metadata-property-key {
  padding-block: var(--size-2-1);
}

.metadata-property:not([data-property-key='tags'])
  .metadata-property-key-input {
  padding-block: var(--size-2-3);
}

.multi-select-pill {
  transition: var(--animation);
}

.metadata-property[data-property-key='cssclasses'] {
  --pill-padding-x: 0.4em;

  .multi-select-pill {
    line-height: 1;
  }
}

.multi-select-pill-remove-button {
  cursor: pointer;
}

.multi-select-pill-content {
  line-height: 1.6;
}

/* #endregion {property} */