/* #region {Settings} */
.modal:has(.modal-content),
.mod-settings .vertical-tab-content {

  input[type=text],
  textarea {
    font-family: var(--font-mono);
    font-size: var(--font-ui-smaller);
    padding-inline: var(--size-2-1);
  }

  .clickable-icon:has(svg.lucide-trash-2) {
    color: var(--text-error);
  }
}
/* #endregion {Settings} */

/* #region {Settings Plugins} */
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button {
    background-color: var(--button-gray-background-color) !important;
  }
  button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] svg.svg-icon, .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  button[aria-label=Delete], :is(.header-row button, .data-fetcher-delete-btn), :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))), .setting-item-extra + .setting-item button {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.templater_template, input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]), input[placeholder="js,ts"], input[placeholder="Enter your personal access token"], input.prettier-settings__mapping-text {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.templater_cmd, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]), textarea.prettier-settings__textarea {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] {
    background-color: var(--button-gray-background-color) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon, button[aria-label^="Delete this beta"] svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  button[aria-label=Delete], :is(.header-row button, .data-fetcher-delete-btn), .setting-item-extra + .setting-item button, :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))) {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.templater_template, input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]), input[placeholder="js,ts"], input.prettier-settings__mapping-text, input[placeholder="Enter your personal access token"] {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.templater_cmd, textarea.prettier-settings__textarea, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] {
    background-color: var(--button-gray-background-color) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon, button[aria-label^="Delete this beta"] svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  button[aria-label=Delete], :is(.header-row button, .data-fetcher-delete-btn), .setting-item-extra + .setting-item button, :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))) {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.templater_template, input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]), input.prettier-settings__mapping-text, input[placeholder="Enter your personal access token"], input[placeholder="js,ts"] {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.templater_cmd, textarea.prettier-settings__textarea, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] {
    background-color: var(--button-gray-background-color) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon, button[aria-label^="Delete this beta"] svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  button[aria-label=Delete], .setting-item-extra + .setting-item button, :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))), :is(.header-row button, .data-fetcher-delete-btn) {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.templater_template, input.prettier-settings__mapping-text, input[placeholder="Enter your personal access token"], input[placeholder="js,ts"], input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.templater_cmd, textarea.prettier-settings__textarea, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] {
    background-color: var(--button-gray-background-color) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon, button[aria-label^="Delete this beta"] svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  button[aria-label=Delete], .setting-item-extra + .setting-item button, :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))), :is(.header-row button, .data-fetcher-delete-btn) {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.templater_template, input.prettier-settings__mapping-text, input[placeholder="Enter your personal access token"], input[placeholder="js,ts"], input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.templater_cmd, textarea.prettier-settings__textarea, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]) {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
@scope (.mod-settings, .modal) to (:scope .modal-content > .vertical-tab-content .templater_div) {
  .prettier-settings__mapping-header button {
    --text-color: var(--text-on-accent) !important;
    color: var(--text-on-accent) !important;
    background-color: var(--interactive-accent) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"] {
    background-color: var(--button-gray-background-color) !important;
  }
  .prettier-settings__mapping:not(:nth-child(1)) button, button[aria-label^="Delete this beta"], .prettier-settings__mapping:not(:nth-child(1)) button svg.svg-icon, button[aria-label^="Delete this beta"] svg.svg-icon {
    color: var(--text-on-accent) !important;
  }
  .setting-item-extra + .setting-item button, :is(.clicable-icon[aria-label="Delete this command"], button[aria-label^="Delete this Snippet"], button[aria-label="Delete this beta theme"]:not(:has(svg.lucide-x))), :is(.header-row button, .data-fetcher-delete-btn), button[aria-label=Delete] {
    background-color: var(--background-modifier-error) !important;
    color: var(--text-on-accent);
  }
  input.prettier-settings__mapping-text, input[placeholder="Enter your personal access token"], input[placeholder="js,ts"], input[type=text]:is([placeholder=api-name], [placeholder="https://api.example.com"], [placeholder="Header name"], [placeholder=Value]), input.templater_template {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-smallest) !important;
    width: 100%;
  }
  textarea.prettier-settings__textarea, :is(textarea.ms-css-editor, textarea[placeholder="Command prompt"]), textarea.templater_cmd {
    font-family: var(--font-monospace-tweaks, var(--font-monospace)) !important;
    font-size: var(--font-ui-smallest) !important;
    width: 100%;
  }
  input[type=text][placeholder="Enter your client_id"] {
    letter-spacing: 0.1em;
    -webkit-text-security: disc;
  }
  input[type=text][placeholder="Enter your client_id"]:focus {
    -webkit-text-security: none;
    letter-spacing: normal;
  }
}
/* #endregion {Settings Plugins} */