/* #region {Settings} */
.modal:has(.modal-content),
.mod-settings .vertical-tab-content .setting-item {

  input[type=text],
  textarea, textarea[spellcheck=false] {
    font-family: var(--font-mono), var(--font-monospace);
    font-size: var(--font-ui-smaller);
    padding-inline: var(--size-2-1);
  }

  .clickable-icon:has(svg.lucide-trash-2) {
    color: var(--text-error);
  }
}
/* #endregion {Settings} */