/* #region {Vault} */
div.nav-header {
  padding: 0;
}

/* + Hide Vault button */
  .workspace-drawer-vault-actions .clickable-icon:has(.svg-icon.help) {
    display: none;
  }

/* + `.nav-buttons-hide-sub` : Hide Navigation buttons */
  .nav-buttons-hide-sub {
    &.nav-hide-new-note .nav-buttons-container .clickable-icon:has(.lucide-edit),
    &.nav-hide-new-folder .nav-buttons-container .clickable-icon:has(.lucide-folder-plus),
    &.nav-hide-sort-order .nav-buttons-container .clickable-icon:has(.lucide-sort-asc),
    &.nav-hide-expand-button .nav-buttons-container .clickable-icon:has(.lucide-chevrons-up-down,.lucide-chevrons-down-up) {
      display: none; }
  }
/* #endregion {Vault} */